<section id="{{ patternPartial }}" class="styles">
  <h1>{{# patternData }} {{{ patternBreadcrumb }}} {{/ patternData }}</h1>
  <div class="section-label">{{ patternName }}</div>
  <div class="sg-pattern-example">
    {{{ patternPartialCode }}}
  </div>
  <script type="text/json" id="sg-pattern-data-{{patternPartial}}" class="sg-pattern-data">
    {{{ patternData }}}
  </script>
</section><!--end .sg-pattern-->
