<!-- View All Patterns in a Pattern Sub-Type -->
<main class="sg-main content" role="main">
  
  <!-- Patterns -->
  <div id="sg-patterns">
    {{# partials }}
      {{# patternSectionSubtype }}
        {{> patternSectionSubtype }}
      {{/ patternSectionSubtype }}
      {{^ patternSectionSubtype }}
        {{> patternSectionSubtype }}
        {{> patternSection }}
      {{/ patternSectionSubtype }}
    {{/ partials }}
  </div> <!--end #sg-patterns-->

</div><!--end .sg-main-->
